# What follows affect this top-level directory and all subdirectories.

# hidden files in MacOS
.DS_Store

# Do NOT push data files to git.
# I suggest you create crawler/indexer output in subdirectories of ./data
data
